@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore <a href="Products">Products</a> or <a href="Categories">Categories</a>.</p>
</div>
