@model IEnumerable<DataAccess.Model.Categories>
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table table-striped" ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <th scope="row">@category.CategoryId</th>
            <td>@category.CategoryName</td>
            <td>@category.Description</td>
        </tr>
        }
    </tbody>
</table>
